[submodule "lib/rabbitizer"]
	path = lib/rabbitizer
	url = https://github.com/Decompollaborate/rabbitizer
[submodule "lib/ELFIO"]
	path = lib/ELFIO
	url = https://github.com/serge1/ELFIO
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/tomlplusplus"]
	path = lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "lib/sljit"]
	path = lib/sljit
	url = https://github.com/zherczeg/sljit
